{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>contenu</h1>
    </div>
{% endblock %}

{% block toto %}
    <h1>block toto</h1>
{% endblock %}

{% block javascripts %}
    <script>
        console.log('hello world');
    </script>
{% endblock %}

