{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>{{ test }}</h1>
        <ul>
            {% for u in user %}
                <li>nom : {{ u.name }} age : {{ u.age }}</li>
            {% endfor %}
        </ul>
        
    </div>
{% endblock %}

{% block toto %}
    <h1>block toto</h1>
{% endblock %}

{% block javascripts %}
    <script>
        console.log('hello world');
    </script>
{% endblock %}

