{% extends "base.html.twig" %}



{% block title %}Home site test symfony{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenue sur votre premier site symfony !</h1>
            <p class="lead">Ceci est la page d'accueil</p>
            <hr class="my-4">
            <p>Un message de test histoire de mettre quelque chose ici</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">un bouton</a>
            </p>
        </div>

        <div class="row">
            <h1>LE NOM DE LA ROUTE EST {{ path('home') }}</h1>
        </div>

        <div class="row">
            
        </div>
    </div>
{% endblock %}